.song-card {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding:1rem;
    margin:0;
    position:relative;
}

.background {
    width:100%;
    height: 100px;
    position:absolute;
}

.song-card-content {
    width:100%;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}