.event {
    background-color: coral;
}

main .events{
    display: flex;
    flex-direction: column;

    .events-main-view {
        margin:0;
        padding: 0;
        flex-direction: row;
        width:100%;

        .calendar-main {
            width:55%;
            flex-direction: column;
        }

        .calendar-side {
            width:45%;
        }
    
        .google-map {
            width: 400px;
            height: 400px;
        }
    }

    
    
}

main .event-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main .react-calendar__tile {
    width: 200px;
    height: 100px;
    padding: 0.1rem;

}

@media only screen 
   and (max-width : 400px) {
   main {

    display:flex;
    flex-direction: column;
    .calendar-main {
        width:100%;
    }

    .calendar-side {
        width:100%;
    }

   }
}